<mat-card id="image-video-card">
  <mat-card-header id="image-video-card-header">
    <h2>Add images and video</h2>
  </mat-card-header>
  <mat-card-content id="image-video-card-content">
    <h3>Images</h3>
    <p>
      Pro tip: Use photos that set the mood, and avoid distracting text
      overlays. View examples ->
    </p>
    @if(!imageAdded()) {
    <mat-card
      class="image-card"
      appUploadImage
      (dropFile)="onDropFile($event)"
      (imageDragOver)="onDragOver()"
      (imageDragLeave)="onDragLeave()"
    >
      <mat-card-content class="image-card-content">
        @if(dragInAction()) {
        <mat-icon
          aria-hidden="false"
          aria-label="Add Image Icon"
          fontSet="material-icons-outlined"
          >add_photo_alternate
        </mat-icon>
        <h3>
          Drag and drop an image or
        </h3>
        <input
          type="file"
          accept="image/*"
          #imgInput
          [(ngModel)]="filePath"
          (change)="onImageUpload($event)"
          style="display: none;"
        />
        <button
          mat-stroked-button
          disableRipple="true"
          id="image-upload-button"
          color="grey"
          (click)="imgInput.click()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Add Image Icon"
            fontSet="material-icons-outlined"
            >add_photo_alternate
          </mat-icon>
          Upload Image
        </button>
        } @else {
        <h3>Drop the image here</h3>
        }
      </mat-card-content>
    </mat-card>
    } @else {
    <mat-card class="image-card" id="focused-image-card">
      <mat-card-content class="image-card-content focused-image-container">
        <img
          [src]="url()"
          class="focused-image"
          [style]="{
            inset: imageAddedCSSInset()
          }"
        />
      </mat-card-content>
    </mat-card>
    }
  </mat-card-content>
</mat-card>
