:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#image-video-card {
  height: 85vh;
  width: 40vw;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: white;

  #image-video-card-header {
    padding: 0;

    h2 {
      font-weight: 500;
    }
  }

  #image-video-card-content {
    padding: 0;

    h3 {
      padding: 1rem 0;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
    }
  }
}

#image-drop-card {
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  height: 40vh;
  background-color: #80808017;
  border: none;
  border-radius: 10px;
  box-shadow: none;

  .image-drop-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;

    h3 {
      font-weight: 500;
      font-size: 1.25rem;
    }

    #image-upload-button {
      padding: 0.8rem 1.8rem;
      border-radius: 5px;
      background-color: white;
      border: 2px solid grey;
      color: black;

      mat-icon {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 1.2rem;
        color: black;
      }
    }

    mat-icon {
      height: 2rem;
      width: 2rem;
      font-size: 2rem;
      color: #808080c2;
    }
  }
}

#visible-on-drag {
    background-color: rgb(182, 237, 237);
}