<mat-card id="image-video-card">
  <mat-card-header id="image-video-card-header">
    <h2>Add images and video</h2>
  </mat-card-header>
  <mat-card-content id="image-video-card-content">
    <h3>Images</h3>
    <p>
      Pro tip: Use photos that set the mood, and avoid distracting text
      overlays. View examples ->
    </p>
    <mat-card id="image-drop-card" #visible appUploadImage>
      <mat-card-content class="image-drop-card-content">
        <mat-icon
          aria-hidden="false"
          aria-label="Add Image Icon"
          fontSet="material-icons-outlined"
          >add_photo_alternate
        </mat-icon>
        <h3>
          Drag and drop an image or
        </h3>
        <button
          mat-stroked-button
          disableRipple="true"
          id="image-upload-button"
          color="grey"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Add Image Icon"
            fontSet="material-icons-outlined"
            >add_photo_alternate
          </mat-icon>
          Upload Image
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card id="image-drop-card" #invisible>
      <mat-card-content class="image-drop-card-content" id="visible-on-drag">
        <p>
          Upload image here
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
